<div class="profile-page">
  <div class="wrapper">
      <div class="page-header page-header-small" filter-color="orange">
      <div class="container">
          <div class="content-center" style="display: flex;align-items: center;">
              <img src="assets/profilePic.jpg" style="border-radius: 10%;width: 10%;height: 2%;">
              <div style="padding:10px"><div class="h2 title">Shanmukha Trini Sai Bharadwaj Saranu</div>
                <p class="category">Senior Software Developer</p>
                <a class="btn" style="background-color: #000099;color:white;" href="https://drive.google.com/file/d/1zhSzFyWthFiT-1sfokZWAe69XN8NxjMK/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download Resume</a>
                </div>
            </div>
      </div>
      </div>
  </div>
</div>