<div class="section" id="certifications" style="padding-top: 5%;">
  <div  style="background-image: url('assets/certifications1.jpg');background-repeat: no-repeat;background-size: cover;">
      
    <div class="h4 text-center mb-4 title">Certifications</div>
<div class="container"style="padding-bottom: 2%;">
        <div class="card">
            <div class="row">
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Oracle certified associate, Java Programmer (OCAJP)</div>
                            <ul>
                                <li> Issued by <b>Oracle </b></li>
                                <li>Issued : Jul,2018</li>
                            </ul>
                            <a href="https://drive.google.com/file/d/12tX2P-BZPpljsvOnhBNsfdvvLG2he9TX/view?usp=sharing" target="blank">see credential</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Introduction to programming using Python</div>
                        <ul>
                          <li> Issued by <b>Internshala </b></li>
                          <li>Issued : Oct,2019</li>
                      </ul>
                      <a href="https://drive.google.com/file/d/1jGADhUjYGyFabLi9GPlZB307mV9sB1jw/view?usp=sharing" target="blank">see credential</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="row">
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Responsive web design</div>
                        <ul>
                          <li> Issued by <b>freeCodeCamp </b></li>
                          <li>Issued : Jul,2020</li>
                      </ul>
                      <a href="https://www.freecodecamp.org/certification/fcc4fcec4bf-1129-4c54-a315-eb4aa7eadb1a/responsive-web-design" target="blank">see credential</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
          <div class="row">
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h4">Problem Solving(basic)</div>
                      <ul>
                        <li> Issued by <b>HackerRank </b></li>
                        <li>Issued : Jul,2020</li>
                    </ul>
                    <a href="https://www.hackerrank.com/certificates/1ff15b12221a" target="blank">see credential</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="row">
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h4">Java(Basic)</div>
                    <ul>
                      <li> Issued by <b>HackerRank </b></li>
                      <li>Issued : Jul,2020</li>
                  </ul>
                  <a href="https://www.hackerrank.com/certificates/201a0aaa4169" target="blank">see credential</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>