<div class="section" id="education" style="padding-top: 5%;">
    <div  style="background-image: url('assets/education.jpg');">
        
      <div class="h4 text-center mb-4 title">Education</div>
  <div class="container"style="padding-bottom: 2%;">
          <div class="card">
              <div class="row">
                  <div class="col-md-3" style="background-color: #000099;color:white">
                      <div class="card-body cc-education-header">
                          <p>2019-present</p>
                      <div class="h5">Masters Degree</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Masters Degree</div>
                              <h4 class="category">Lambton College</h4>
                              <ul>
                                  <li> <b>Post graduate diploma certificate </b>in<b> Cloud Computing for Big Data</b></li>
                                  <li>GPA: 3.65</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3" style="background-color: #000099;color:white">
                      <div class="card-body cc-education-header">
                          <p>2014-2018</p>
                      <div class="h5">Bachelor's degree</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Bachelor's degree</div>
                          <h4 class="category">Vignan's Institute of Information Technology</h4>
                          <ul>
                                  <li>Completed  <b>bachelor's degree</b> in <b>Computer Science and Engineering(CSE)</b> with <b>78%</b> aggregate.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="card">
              <div class="row">
                  <div class="col-md-3" style="background-color: #000099;color:white">
                      <div class="card-body cc-education-header">
                          <p>2012-2014</p>
                      <div class="h5">Intermediate School</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Board of Intermediate Education</div>
                              <h4 class="category">Narayana Junior College</h4>
                              <ul>
                                      <li>Completed MPC with <b>93.9%</b>.</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div></div>