<div class="section" id="skill" style="padding-top: 5%;">
  <div  style="background-image: url('assets/skills2.jpg');background-repeat: no-repeat;background-size: cover;">
  <div class="container"style="padding-bottom: 2%;width:100%">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container" >
              <span class="progress-badge">Java</span>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 85%;background-color:#000099"></div>
                <span class="progress-value" style="padding-top: 1.5%;">&nbsp;&nbsp;&nbsp;&nbsp;85%&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">          
          <div class="col-md-6">
            <div class="progress-container">
              <span class="progress-badge">Angular8</span>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar " role="progressbar"style="width: 60%;;background-color:#000099"></div>
                <span class="progress-value" style="padding-top: 1.5%;">&nbsp;&nbsp;&nbsp;&nbsp;60%&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">MYSQL</span>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar"style="width: 75%;;background-color:#000099"></div>
                <span class="progress-value" style="padding-top: 1.5%;">&nbsp;&nbsp;&nbsp;&nbsp;75%&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>